p{text-align: center;}
body{background-image: url('sky.jpeg'); background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;}
#p1{width: 520;padding: 10;border: 5px solid beige;margin: 20;text-indent: 50px;}
#p2{width: 520;padding: 10;border: 5px solid blueviolet;margin: 5;letter-spacing: 10;}
#p3{width: 520;background-color: azure;line-height: 2;text-shadow: 3px 3px grey;}
#p4{width: 520; padding: 25;box-sizing: border-box;background-color: aqua;word-spacing:-2;}
#p5{width: 520;border: 4px;display: inline;background-color: pink;}
#p6{width: 520;border: 4px;display: block;background-color: pink;}
#poza1{vertical-align: top;}
#poza2{vertical-align: middle;}
#poza3{vertical-align: bottom;}
.a{display: flex;flex-direction: row-reverse;background-color: aqua;justify-content: center;}
.b{display: flex;flex-direction: column-reverse;}
.c{display: flex;flex-flow: row wrap;}
.d{display: flex;flex-direction: row;}